In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# **EXERCISE 1**

In [ ]:
Print('Hello world!')

MODIFIED CODE

In [ ]:
print('Hello world!')

Hello world!

Explanation 1: the error is in Print. The letter p should be small letter not a capital letter P

In [ ]:
print'Hello world!')

MODIFIED CODE

In [ ]:
print('Hello world!')

Hello world!

Explanation 2: *the* parenthesis should be 2 not one like this: print('any name')

In [ ]:
print('Hello world!)

MODIFIED CODE

In [ ]:
print('Hello world!')

Hello world!

Explanation 3: The error is in print('Hello world!). It should be like this: print('Hello world!') the quotation should be 2 single quotation both left and right not only 1

In [ ]:
print('Hello world!'')

MODIFIED CODE

In [ ]:
print('Hello world!')

Hello world!

# **EXERCISE** **2**

Explanation 4: The error is in ('Hello world!'') the quotation should be single not double. It should be like this print('Hello world!').

In [ ]:
x = 43
x = x + 1
print(x)

44

The output is 44, because we Initialze the x as 43 to solve for the formula of x= 43+1 that will print the output of 44

#***EXERCISE 3***

In [ ]:
x = 43
x = X + 1
print(x)

MODIFIED CODE

In [ ]:
x = 43
x = x + 1
print(x)

44