In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# **EXERCISE 1**

In the code below, which will never print regardless of the value for x? Edit the code to correct the error.

```python
if x > 0 :
    print('Above 0')
elif x >  10 :
    print('Above 10')
elif x > 50 :
    print('Above 50')
elif x >  20 :
    print('Above 20')
else :
    print('Something else')
```

In [2]:
x = 30

if x > 50:
    print('Above 50')
elif x > 20:
    print('Above 20')
elif x > 10:
    print('Above 10')
elif x > 0:
    print('Above 0')
else:
    print('Something else')

Above 20

# **EXERCISE 2**

Write your salary computation to give an employee 1.5 times the hourly rate for hours worked above 40 hours. Example:

    Enter Hours: 45
    Enter Rate: 10
    Pay: 475.0

In [23]:
hrs = float(input("Enter Hours: "))  # initialize the variable hrs
rate = float(input("Enter Rate: "))  # initialize the variable rate

if hrs <= 40:
    pay = hrs * rate
else:
    pay = 40 * rate + (hrs - 40) * rate * 1.5  # to compute the gross pay of the user
print("Pay:", pay)  # to print the gross pay of the user

Enter Hours: 45
Enter Rate: 10
Pay: 475.0

# **CHALLENGES**

Write a program to prompt for a score between 0 and 100 and print a grade using the following table:

    Score           Grade
    [ 97, 100]     1.0
    [ 93,  97)	1.25
    [ 89,  93)	 1.5
    [ 85,  89)	 1.75
    [ 81,  85)	 2.0
    [ 77,  81)	2.25
    [ 74,  77)	 2.5
    [ 0,   74)	 3.0
**bold text**

In [25]:
score = float(input("Enter the score (between 0 and 100): "))  # Prompt for the score

# Determine the grade based on the score
if 97 <= score <= 100:
    grade = 1.0
elif 93 <= score < 97:
    grade = 1.25
elif 89 <= score < 93:
    grade = 1.5
elif 85 <= score < 89:
    grade = 1.75
elif 81 <= score < 85:
    grade = 2.0
elif 77 <= score < 81:
    grade = 2.25
elif 74 <= score < 77:
    grade = 2.5
elif 0 <= score < 74:
    grade = 3.0
else:
    print("Invalid score entered. Please enter a score between 0 and 100.")


print("Grade:", grade)  # Print the corresponding grade

Enter the score (between 0 and 100): 88
Grade: 1.75